

h1{
    font-size: 35px;
    font-weight: 400;

}
h2{
    font-size: 30px;
    font-weight: 700;
    
}
h3{
    
    font-weight: 600;
    font-size: 18px;
}
h4{
    
    font-size: 18px;
    font-weight: 700;
}
h5{
    font-size: 15px;

    font-weight: 400;
}
h6{
    font-size: 13px;
    font-weight: 400;

}
.shadow-button{
    width: 250px;
    padding: 20px 0;
    font-size: 13px;
    
}
#container{
    padding: 40px 60px;   
}
header .main-head .head-image .pics{
    margin-right: 0;
}


main{

    padding: 100px 60px 250px 60px;
   
}



main section{
    width: 100%;
    
}


main .second-content .inner-pics{
    padding-left: 30px;
    
}
main section .content1:nth-child(odd){
    padding-left: 30px;
    /* flex-wrap: wrap; */
}
aside{
    height: 200px;
    width: 50%;
    
}
